<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 

    <title>Sports Scheduler</title>
    

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md">
      <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-800">
          Welcome to Sports Scheduler
        </h1>
        <div class="mt-8">
          <p>New to here <a class="text-green-600" href="/signup">signup</a></p>
          <p class="mt-2">
            Already had an account
            <a class="text-green-600" href="/login">login</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
