<nav class="py-4 px-8 bg-purple-500 text-white w-full fixed top-0">
    <ul class="flex justify-between items-center">
      <li>
        <a href="/home" class="font-bold text-lg">Home</a>
      </li>
      <li>
        <a href="/sports" class="font-bold text-lg">Sports</a>
      </li>
      <li>
        <span class="font-bold text-lg">Session #</span>
      </li>
      <li>
        <a href="javascript:history.back();" class="font-bold text-lg">Back</a>
      </li>
      
    </ul>
  </nav>
