<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports Scheduler</title>
   
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="grid grid-cols-6">
      <div class="col-span-2 col-start-3">
        <h6 class="py-4">Create New Sport</h6>
        <form action="/createsport" method="post">
         
          <div class="py-3">
            <label for="email">What is this sport name?</label>
            <input
              class="border border-gray-300 rounded p-2 w-full text-gray-900"
              type="text"
              name="sportname"
            />
          </div>

          <div class="py-3">
            <button
              class="text-green-600 rounded text-white bg-green-600 hover:bg-green-800 font-medium px-5 py-2"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
